@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #f7fafc;
  color: black;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 550px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
}

.description {
  margin-top: 20px;
}

.text-box {
  margin-bottom: 10px;
}

.reset-button,
.copy-button {
  width: 100%;
  margin-bottom: 10px;
  background-color: #084887;
  font-size: 80%;
  padding: 10px;
  border: none;
  color: #edf1ff;
}

.copy-button:hover {
  background-color: #063D73;
}

.reset-button {
  display: none;
  background-color: #497FB3;
}

.reset-button:hover {
  background-color: #3E6C99;
}

.generated-text-box {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
}

.generated-text {
  width: 100%;
  height: 80px;
  padding: 5px;
  background-color: #edf1ff;
  border: none;
  overflow: auto;
  margin-top: 2rem;
  padding: 0.375rem 0.75rem;
}

.copy-alert {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #74b574;
  border-radius: 5px;
  color: #edf1ff;
  display: none;
  font-size: 80%;
  padding: 10px;
}

.empty-alert {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #b22b27;
  border-radius: 5px;
  color: #edf1ff;
  display: none;
  font-size: 80%;
  padding: 10px;
}

.footer {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

p {
  margin: 0;
  font-size:80%;
}

.form-control {
  margin-bottom: 1.3rem;
  border:none;
  background-color:#edf1ff;
  font-size:90%;
}

.form-control[readonly] {
  background-color:#edf1ff;
}

.dark-mode {
  position: absolute;
  top: 5px;
  right: 5px;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #edf1ff;
  border-color: #084887;
  background-color: #084887;
}
